@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://wallpapers-house.com/data/out/12/wallpaper2you_514047.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background-color: #000000;
}

.container{
height: 900px;
align-content: center;
}

.card{
height: 250px;
margin-top: 80px;
/*margin-bottom: auto;
*/width: 400px;
background-color: rgba(255,255,255,0.5) !important;
border: 1px solid blue;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  border: 1px solid black;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
  color:red;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 5px 9px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 400px;
  width: 50%; /* Full width */
  height: 90%; /* Full height */

}

/* Modal Content/Box */
.modal-content {
  background-color:#C0C0C0;
  margin: 10% auto 25% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 3px solid grey;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

nav {
  width: 100%;
  margin: 0 auto;
  background: black;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;/*
  text-align: center;*/
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ffffff; ;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #f1f1f1;
  text-decoration: none;
}


nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #f1f1f1;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50px;
  content: '.';
  color: white;
  background: gray;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 70%;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.copy-right-top {
    background: #212020;
}
.copy-right {
    letter-spacing: 1px;
    font-size: 15px;
    color: #999;
}

